.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: center;

  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;

    .tab {
      button {
        all: unset;
        cursor: pointer;
        color: #cfd6dd;
        cursor: pointer;
        padding: 10px 20px;
        text-wrap: nowrap;
        font-weight: 700;

        &.active {
          color: $color-primary;
        }
      }
    }
  }

  .tabcontent {
    display: none;

    &.active {
      display: block;
    }
  }

  .logos {
    display: block;
    margin: auto;
    text-align: center;

    img {
      width: 100%;
    }
  }
}
